{% extends 'base.html.twig' %}

{% block title %}Sign In{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/login.css') }}" />
{% endblock %}

{% block body %}

<section class="row justify-content-center align-items-center">

    <form action="{{ path('app_security_login') }}" method="post" class="row justify-content-center">
        <h3 class="col-12 text-center">Registration</h3>
        {% if error is not null %}
            <div class="col-12 row justify-content-center p-2">
               {# <div class="col-6 alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div> #}
                <div class="col-6 alert-danger rounded text-center">Le login/mot de passe est incorrecte</div>
            </div>
        {% endif %}
        <div class="col-6 form-row align-items-center justify-content-center">
            <div class="col-12">
                <label class="sr-only" for="inlineFormInput">Nom d'utilisateur ou Email</label>
                <input type="text" class="form-control mb-2" id="username inlineFormInput" name="_username" placeholder="Username / Email" value="{% if last_username is defined %}{{ last_username }}{% endif %}">
            </div>
            <div class="col-12">
                <label class="sr-only" for="inlineFormInputGroup">Nom d'utilisateur ou Email</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                    </div>
                    <input type="password" name="_password" class="form-control" id="password inlineFormInputGroup" placeholder="Password">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>
            </div>
            <div class="col-12 row justify-content-center">
                <button type="submit" class="btn btn-primary mb-2">Se connecter</button>
            </div>
            <div class="col-12 row justify-content-center">
                <a href="{{ path('app_registration_passwordforgotten') }}">Mot de passe oublié?</a>
            </div>
            <div class="col-12 row justify-content-center">
                <a href="{{ path('app_registration_register') }}">Créer un compte</a>
            </div>
        </div>
    </form>
</section>

{% endblock %}
