{% extends 'base.html.twig' %}

{% block body %}
    {% for type,messages in app.session.flashbag.all %}
        {% for message in messages %}
            <div class="flashBag alert alert-success alert-dismissible fade show">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endfor %}
    <section class="row justify-content-center align-items-center align-self-lg-baseline">
        <div class="col-12 row justify-content-center ">
            {{ form_start(form) }}
            {{ form_label(form.username, 'Nom d\'utilisateur', {'attr' : {'class':'text-center'}}) }}
            {{ form_widget(form.username) }}
            {{ form_rest(form.username) }}
            <input type="submit" class="btn btn-primary col-auto m-2" value="Faire une demande de reset de mot de passe">
        </div>
        {{ form_end(form) }}
    </section>
{% endblock %}