{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/addTrickForm.css') }}" />
    <link rel="stylesheet" href="{{ asset('build/trick.css') }}" />
{% endblock %}

{% block body %}
    <section class="row col-9 justify-content-center align-items-lg-center m-0">
        {{ form_start(form) }}
        <div class="col-12 row justify-content-center m-0 p-0">
            <div class="img-fluid col-12 img-trick-main row justify-content-center align-items-center"
                 style="
                         background-image: url('{{ asset(trick.hasMainMedia) }}');{#TODO#}
                         background-repeat: no-repeat;
                         background-size: cover;
                         background-position: center;
                         ">
                <div class="col-8 text-center">
                    {{ form_row(form.name) }}
                </div>
            </div>


            <div id="medias" class="col-12 row justify-content-center align-items-center text-center" data-prototype='{{ form_row(form.medias.vars.prototype)|e('html_attr') }}'>
                <p class="col-12 pt-1" style="font-size:x-large!important">Images</p>
                <a href="#" id="add_media" class="add-btn btn btn-outline-primary col-8 col-md-4 col-xl-2 m-2">Ajouter un media</a>
                {% for media in form.medias %}
                    <div class="media img-fluid col-3 row justify-content-center m-3">
                        <img class="vignettes" src="{{ asset(media.vars.data.url) }}" alt="{{ media.vars.data.alt }}">
                        <div class="col-8 p-0 m-0">
                            {{ form_row(media) }}
                        </div>
                        {% if form.vars.data.mainmedia is same as(media.vars.data.url) %}
                            <p class="col-12 p-0 m-0">En-tête actuelle</p>
                        {% else %}
                            <a class="col-12 p-0 m-0" href="{{ path('app_trick_thisismainmedia', {'media':media.vars.data.id} ) }}">Choisir comme en-tête</a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>


            <div id="videos" class="col-12 row justify-content-center align-items-center text-center" data-prototype='{{ form_row(form.videos.vars.prototype)|e('html_attr') }}'>
                {{ form_label(form.videos) }}
                <a href="#" id="add_videos" class="add-btn btn btn-outline-primary col-8 col-md-4 col-xl-2 m-2">Ajouter une vidéo</a>
                {% for video in form.videos %}
                    <div class="video img-fluid col-3 row justify-content-center p-3 m-3">
                        <iframe class='vignettes col-auto' width='100%' height='100%' src='{{ video.vars.data.embedUrl }}'  frameborder='0'  allowfullscreen></iframe>
                        {{ form_row(video) }}
                    </div>
                {% endfor %}
            </div>



            <div class="col-8 text-center">
                {{ form_row(form.description) }}
            </div>

            <div class="col-12 row row justify-content-center">
                <div class="col-12 col-lg-6 row justify-content-center">
                    <div class="col-12 text-center">
                        {{ form_row(form.categories) }}
                    </div>
                </div>
            </div>
            <div class="col-12 row justify-content-center mb-5">
                <input type="submit" class="btn btn-outline-secondary" value="Envoyer">
            </div>
        </div>
        {{ form_end(form) }}
    </section>
{% endblock %}

{% form_theme form _self %}

{% block js %}
    <script type="text/javascript" src="{{ asset('build/form.js') }}">   </script>
{% endblock %}