{% extends 'base.html.twig' %}

{% block title %}{{ trick.Name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/trick.css') }}" />
{% endblock %}


{% block body %}
    <section class="row col-9 justify-content-center align-items-center p-0 m-0 mb-5">
        <div class="col-12 undermenu d-none d-lg-block"></div>
        {% include('flash.html.twig') %}
        <div class="col-12 row align-self-baseline justify-content-center p-0">
            <div class="img-fluid col-12 img-trick-main row justify-content-center align-items-center"
                 style="{% if trick.mainMedia.url is defined  %}
                         background-image: url('{{ asset(trick.mainMedia.url) }}');
                         background-repeat: no-repeat;
                         background-size: cover;
                 {% endif %}
                         ">
                {{ form_start(form) }}
                <div class="col-12 text-center">{{ form_row(form.name) }}</div>
            </div>
            <div class="col-12 row m-3 justify-content-center align-items-center">
                <a id="seeMediaList" class="col-12 text-center d-lg-none" href="#">See medias</a>
                <div id="mediasList" class="d-none row col-12 justify-content-center align-items-center">
                    <h4>Liens multimédias :</h4>
                    <ul>
                        {% for media in trick.medias %}
                            <li>
                                <a class="col-auto" href="{{  asset(media.url) }}">{{ media.alt }}</a>
                                <a href="{{ path('app_media_mediadel', {'media':media.id }) }}"><i class="far fa-trash-alt"></i></a>
                            </li>
                        {% endfor %}
                        {% for video in trick.videos %}
                            <li>
                                <a class="col-auto" href="{{ video.url }}">{{ video.type }}</a>
                                <a href="{{ path('app_media_videodel', {'video':video.id }) }}"><i class="far fa-trash-alt"></i></a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-12 d-none d-lg-flex row justify-content-around align-items-center">
                    {% for media in trick.medias %}
                        <div class="img-fluid col-3 row justify-content-center m-3">
                            <img class="vignettes" src="{{ asset(media.url) }}" alt="{{ media.alt }}">
                            <div class="col-12 row justify-content-center">
                                <a href="{{ path('app_media_mediadel', {'media':media.id }) }}"><i class="far fa-trash-alt"></i></a>
                            </div>
                        </div>
                    {% endfor %}
                    {% for videoField in form.videos %}
                    <div class="img-fluid col-3 row justify-content-center m-3">
                        <iframe class='vignettes' width='100%' height='100%' src='{{ videoField.vars.data.embedUrl }}'  frameborder='0'  allowfullscreen></iframe>

                        {{ form_errors(videoField) }}
                        {{ form_widget(videoField) }}

                        <div class="col-12 row justify-content-center">
                            <a href="{{ path('app_media_videodel', {'video':videoField.vars.data.id }) }}"><i class="far fa-trash-alt"></i></a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-12 row justify-content-center align-items-center p-5">
                <div class="col-12 text-center">{{ form_row(form.description) }}</div>
            </div>
            <div class="col-12 row justify-content-center">
                <div class="col-auto border rounded m-2">Autheur : {{ trick.author.username }}</div>
                <div class="col-auto border rounded m-2">Date de création : {{ trick.date|date("d/m/Y h:i")}}</div>
                {% if trick.dateLastMod is defined %}
                    <div class="col-auto border rounded m-2">Dernière modification : {{ trick.dateLastMod|date("d/m/Y") }}</div>
                {% endif %}
            </div>
            <div class="col-12 m-4 border border-bottom"></div>
            <input class="m-3" type="submit" value="Valider">
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ asset('build/view.js') }}"></script>
{% endblock %}